[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gitpython = "*"
wg-utilities = {git = "ssh://git@github.com/worgarside/wg-utilities.git"}
"beautifulsoup4" = "*"
python-dotenv = "*"
websocket-client = "*"

[dev-packages]

[requires]
python_version = "3.7"

[scripts]
upgrade_loc = "pipenv run pip install --upgrade git+ssh://git@github.com/worgarside/wg-utilities.git@master#egg=wg_utilities"
upgrade = "pip install --upgrade git+ssh://git@github.com/worgarside/wg-utilities.git@master#egg=wg_utilities"
