[tool.poetry]
name = "wg-scripts"
version = "0.1.0"
description = ""
authors = ["Will Garside <worgarside@gmail.com>"]
license = "MIT"
readme = "README.md"

[tool.poetry.dependencies]
python = "^3.11"
python-dotenv = "^1.0.0"
wg-utilities = { extras = ["exceptions", "devices.dht22"], version = "*" }
paho-mqtt = "*"
psutil = "*"
pigpio = "*"
dot3k = { version = "*", platform = "linux" }
rpi-gpio = { version = "*", platform = "linux" }


[tool.poetry.group.dev.dependencies]
black = "^23.7.0"
pylint = "^2.17.4"
pre-commit = "^3.3.3"

[tool.black]
include = '\.pyi?$'
exclude = '''
/(
    \.git
  | \.hg
  | \.mypy_cache
  | \.tox
  | \.venv
  | _build
  | buck-out
  | build
  | dist
  | Pipfile\.lock
)/
'''

[tool.isort]
profile = "black"

[tool.mypy]
ignore_missing_imports = true
exclude = "sandbox|wg_utilities/epd"
show_error_codes = true
plugins = 'pydantic.mypy'
follow_imports = "silent"
warn_redundant_casts = true
warn_unused_ignores = true
disallow_any_generics = true
check_untyped_defs = true
no_implicit_reexport = true
disallow_untyped_defs = true

[tool.pydantic-mypy]
init_forbid_extra = true
init_typed = true
warn_required_dynamic_aliases = true
warn_untyped_fields = true

[tool.pycln]
path = "*"
expand_stars = true
all = true
no_gitignore = false
