[Unit]
Description=MQTT GPIO Service
After=multi-user.target
StartLimitBurst=10
StartLimitIntervalSec=10

[Service]
Type=simple
Restart=always
RestartSec=5
User=@SERVICE_USER@
EnvironmentFile=@REPO_DIR@/.env
ExecStart=@REPO_DIR@/.venv/bin/python @REPO_DIR@/src/services/mqtt_gpio/main.py
WorkingDirectory=@REPO_DIR@

[Install]
WantedBy=multi-user.target
