[Unit]
Description=Climate Monitor Service
After=multi-user.target
StartLimitBurst=10
StartLimitIntervalSec=10

[Service]
Type=simple
Restart=always
RestartSec=5
User=pi
EnvironmentFile=/home/pi/wg-scripts/.env
ExecStart=/home/pi/wg-scripts/.venv/bin/python /home/pi/wg-scripts/clmtpi/climate_monitor/main.py
WorkingDirectory=/home/pi/wg-scripts

[Install]
WantedBy=multi-user.target
